
# Vim backup
*.sw[po]

# Matlab backup
*.m~
*.asv

# Temporary LaTeX output
report/*.log
report/*.bbl
report/*.blg
report/*.aux
report/report*.dvi
report/report*.pdf
report/report*.ps
report/*.tex~
report/*.tex.backup
